* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


#aideTuto{
    display: none;
    position: fixed;
    z-index: 8;
    margin:none;
    top:10px;
}
body{
    overflow: hidden;
    background-image: url("./images/perfect1.png");
    background-position: center; 
    background-repeat: no-repeat;     
    background-size: auto;
}


#Accueil{
    font-size: 30px;
    display: grid;
    gap: 45px;
    text-align: center;
    height: auto;
}

#gameOver{
	z-index: 10;
	color: #fff;
	display: flex;
	background-color: rgba(0, 0, 0,0.5);
	position: fixed;
	display: none;
}




.phrase {
    position: relative;
    font-family: "Avenir Next", sans-serif;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.05em;
    display: inline-block;
  }


  span:before {
    position: absolute;
    left: 0;
    top: 0;
    content: attr(filter-content);
    filter: url(#motion-blur-filter);
  }
  svg {
    display: none;
  }


img{
    display: block;
    margin: auto;
    height: 400px;
    width: 950px;
}

@media screen and (max-width: 750px) {

   
    img{
        display: block;
        margin: auto;
        width: auto;
        height: auto;
    }

	
    .phrase {
        font-weight: 850;
        font-size: 22px;
    }

       

    #rêgleJeu img{
        width: 400px;
        height: 100vh;
    }
    #rêgleJeu section{
        line-height: 20px;
        top:130px; 
        right: auto;
        left:90px;
        width:350px; 
        font-size: 15px;
    }

    #rêgleJeu div{
        top:715px; 
        width:517px; 
        z-index:2;
        font-size:200%;
    }
    #rêgleJeu ul{

        text-align: left;
        width:300px; 
        right: 30px;
        left: 50px;
        font-weight: 600;
    }
    #rêgleJeu li{
        text-align: left;
        left: 100pxs;
        font-weight: 100;
    }

}
canvas {
	display: none;
	border: 1px solid black; 
	z-index: 3;
  }

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

#button1 {
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 20px;
	font-family: 'Staatliches', cursive;
	letter-spacing: 5px;
	background: #f7cd59;
	border: 2px solid black;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
	transition: 500ms;
}

#button1:after {
	content: '';
	position: absolute;
	transform: translateX(-55px) translateY(-40px);
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: transparent;
	box-shadow: 0px 0px 50px transparent;
	transition: 500ms;
}

#button1:hover {
	transform: translateY(-5px);
	box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}

#button1:hover:after {
	box-shadow: 0px 0px 20px #ff6b21, 0px 0px 30px #ff5521, inset 0px 0px 10px #ffc421;
	animation: spin 1s infinite linear;
}




#button2 {
	width: 300px;
	height: 50px;
	cursor: pointer;
	border: 0px solid #5b3f69;
	background: #25451e;
	transition: 200ms;
}

button span {
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	font-size: 15px;
	color: #000000;
	transition: 500ms;
    font-family: "Avenir Next", sans-serif;
    font-weight: 800;
}

#button2::before, #button2::after {
	content: '';
	position: absolute;
	margin-left: -75px;
	margin-top: -25px;
	width: 150px;
	height: 40px;
	z-index: -1;
}

#button2::before {
	border: 5px solid #36562f;
	transition:200ms;
}

#button2::after {
	border: 5px solid #36562f;
	transition: 500ms;
}

#button2:hover {
	border: 5px solid #36562f;
}

#button2:hover span {
	letter-spacing: 4px;
	font-size: 15px;
}


button:focus {
	outline: none;
}

#rêgleJeu{
	display: none;
}
#rêgleJeu img{
    display: block;
    margin: auto;
    width: 550px;
    height: 750px;
}
#rêgleJeu div{
    position:absolute;
    text-align: center;
    top:630px; 
    width: 100vw; 
    z-index:2;
    font-size:200%;
}
#rêgleJeu ul{
    text-align: left;
    width:300px; 
    right: 30px;
    left: 300px;
    font-weight: 600;
    line-height: 35px;
}
#rêgleJeu li{
    text-align: left;
    width:300px; 
    right: 30px;
    left: 300px;
    font-weight: 100;
}

#rêgleJeu section{
    position:absolute;
    text-align: justify;
    top:100px;
    left: calc(50vw - 225px);
    width:450px; 
    z-index:2;
    font-size: 20px;
}


#rêgleJeu .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }
  
#rêgleJeu button{
      font-weight: bolder;
      width: 150px;
      height: 50px;
      cursor: pointer;
      font-size: 30px;
      font-family: 'Staatliches', cursive;
      letter-spacing: 5px;
      background: transparent;
      border: 2px solid transparent;
      box-shadow: 0px 0px 0px transparent;
      transition: 500ms;
  }
  
#rêgleJeu button:after {
      content: '';
      position: absolute;
      transform: translateX(-55px) translateY(-40px);
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: transparent;
      box-shadow: 0px 0px 50px transparent;
      transition: 500ms;
  }
  
  #rêgleJeu button:hover {
      transform: translateY(-5px);
      box-shadow: 0px 10px 10px transparent;
  }
  
  #rêgleJeu button:hover:after {
      box-shadow: 0px 0px 20px #ff6b21, 0px 0px 30px #ff5521, inset 0px 0px 10px #ffc421;
      animation: spin 1s infinite linear;
  }
  
  @keyframes spin{
	25%{transform: translateX(-25px) translateY(-35px);
			width: 15px;
			height: 15px;}
	50% {transform: translateX(-55px) translateY(-30px);
			width: 5px;
			height: 5px;}
	75% {transform: translateX(-85px) translateY(-35px);
			width: 15px;
			height: 15px;}
}
